* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url(images/mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.navbar {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.85) !important;
    font-size: 1.1rem;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Pirata One', cursive;
    color: #f4b907;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.customButton {
    padding: 15px 40px;
    font-size: 1.8em;
    background: linear-gradient(45deg, #e2fa2e, #f4b907);
    border: none;
    border-radius: 30px;
    color: #2c2c2c;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.customButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4);
}

.customButton:active {
    transform: translateY(0);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    
    p {
        font-size: 1.2em;
    }
    
    .customButton {
        font-size: 1.3em;
        padding: 12px 30px;
    }
}

/* Animazione pulsante */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.customButton {
    animation: pulse 2s infinite;
}

.logo-left {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    height: 80px;
    transition: transform 0.3s;
}

.logo-left:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logo-left,
    .logo-right {
        height: 50px;
    }
}

#backButton {
    margin-top: 20px;
}