body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    height: 100vh; /* Altezza della viewport */
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e0f7fa;
    color: #00695c;
    text-align: center; /* Centra il testo */
}

h1 {
    margin-bottom: 20px; /* Spazio sotto l'elemento h1 */ 
    color: #0400fd;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px; /* Spazio sotto ogni paragrafo */
    color: #0400fd
}

#topImage {
    width: 100%; /* Adatta l'immagine alla larghezza della pagina */
    max-width: 600px; /* Limita la larghezza massima dell'immagine */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    margin-bottom: 20px; /* Spazio sotto l'immagine */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}