body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    height: 100vh; /* Altezza della viewport */
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e0f7fa;
    color: #00695c;
    text-align: center; /* Centra il testo */
    margin-bottom: 200px; /* Aggiunge 100px di spazio in fondo alla pagina */
    margin-top: 200px;
}

h1 {
    margin-bottom: 20px; /* Spazio sotto l'elemento h1 */ 
    color: #1a58af;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px; /* Spazio sotto ogni paragrafo */
    color: #1a58af
}

#topImage {
    width: 100%; /* Adatta l'immagine alla larghezza della pagina */
    max-width: 600px; /* Limita la larghezza massima dell'immagine */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    margin-bottom: 20px; /* Spazio sotto l'immagine */
}

#button_logi {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button_att {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button_musi {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button_sport{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button_info {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button_cultgen {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Spazio sopra il form */
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#nextQuiz {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

button:hover {
    background-color: #00ff22;
}
